.header {
    background-color: #404040;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    font-family: Helvetica;
    color: white;
    position: sticky;
}
.header h1 {
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100px;
    display: inline-block;
}

.header .menu {
    font-weight: 900;   
    display: inline-block;
    padding-left: 200px;
    text-align: left
}

.header .menu p {
    display: inline-block;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 0px;
}